@import '../style/App.scss';

$commonPadding: 1rem;

.newTaskContainer {
    background-color: $backgroundSecondary;
    border-radius: 1rem;
    height: 90vh;
}

.addTask {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 100%;

    /* ====================================
         AddTask Heading
    ======================================*/
    &__heading {
        @include headingAddEditSettings();
    }

    /* ====================================
         AddTask Inputs/Textarea
    ======================================*/
    &__input {
        @include inputAddEditSettings();
        margin: auto 0;
    }

    /* =======================================
         AddTask categories to choose buttons
    ==========================================*/

    &__categoriesButtons {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;

        margin: auto 0;

        :first-child {
            margin-left: 0;
        }

        :last-child {
            margin-right: 0;
        }
    }

    &__categoryButton {
        @include buttonAddEditCategorySettings();

        &--active {
            @include activeCategory();
        }
    }

    /* =======================================
                AddTask finish buttons
    ==========================================*/
    &__finishButtons {
        display: flex;
        justify-content: center;
        margin: auto 0;

        :first-child {
            margin-right: 1rem;
        }
    }

    &__finishButton {
        @include submitFinishAddEditSettings();
        margin: auto 0;
        display: grid;
        align-self: center;
        width: 20.9rem;

        &--submit {
            background-color: $greenDark;

            &:hover {
                background-color: orange;
            }
        }

        &--cancel {
            background-color: $red;

            &:hover {
                background-color: orange;
            }
        }
    }
}