/* Colors */
$standardGrey: rgb(121, 114, 114);
$cyanOne: #00c9c4;
$cyanTwo: rgb(3, 255, 255);
$darkSeaBlue: #2f4858;
$darkSeaBlue2: #2f4858a1;
$greyWithPurple: #595564;


//paleta https://mycolor.space/?hex=%23212121&sub=1
$backgroundPrimary: #212121; //#212121
$backgroundSecondary: #3c3e42; //#3c3e42
$backgroundDarkPurple: #523f4f;
$backgroundLighterPurple: #5b4661;
$orangeDark: #d6806e;
$orangeLight: #fbb566;
$greenLight: #00b38f;
$greenDark: #007d5c;

/* ===============
Default properties
==================*/

$medium : 64.81em; //1037px

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    text-decoration: none;
    list-style: none;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5%, 1rem = 10px
}

body {
    //background-color: rgba(0, 0, 0, 0.726);
    background-color: $backgroundPrimary;
    color: white;
    padding: .5rem;
}