/* Colors */
/*palety https://mycolor.space/?hex=%23212121&sub=1
https: //mycolor.space/?hex=%23797272&sub=1 */
$standardGrey: rgb(121, 114, 114);
$backgroundPrimary: #212121;
$backgroundSecondary: #3c3e42;
$backgroundDarkPurple: #523f4f;
$backgroundLighterPurple: #5b4661;
$purpleLight:#965b6a;
$greenLight: #00b38f;
$greenDark: #007d5c;
$red: #da1d1d;
$orangeDark:rgb(218, 78, 27);

/* ==================
    Break Points 
====================*/
$bp-medium: 48em; //768px

/* ===============
Default properties
==================*/

$widthConstOne: 36rem;
$sharedValueOne: 3rem;
//////////////////////////////

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    text-decoration: none;
    list-style: none;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5%, 1rem = 10px
}

body {
    background-color: $backgroundPrimary;
    color: white;
    padding: .5rem;
    font-family: 'Merriweather', serif;
}