@import '../style/App.scss';

.filters {

    /* ===========================
             FILTER SERACH
    ==============================*/
    &__search-filter {
        display: flex;
        background-color: $backgroundSecondary;
        padding: .2rem;
        font-size: 1.4rem;
        border-radius: .5rem;
        border: .1rem solid $backgroundSecondary;
        margin: .2rem;

        &:focus-within {
            border-color: $purpleLight;
        }
    }

    &__search-icon {
        align-self: center;
        padding-right: 1rem;
        padding-left: .5rem;
    }

    &__search-input {
        width: 100%;
        background-color: inherit;
        color: inherit;
        border: 0;
        font-family: inherit;
    }



    /* ===========================
             FILTER SHOW TASKS
    ==============================*/

    &__showing-filters {
        margin: .5rem 0 .5rem 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__showing-button {
        flex: 1 1 auto;
        background-color: $backgroundSecondary;
        color: inherit;
        border: 0;
        border-radius: .5rem;
        padding: .2rem;
        margin: .2rem;
        font-size: 1.4rem;
        font-family: inherit;
        cursor: pointer;
        @include transitionStandard();

        &:first-child {
            border-top-left-radius: .5rem;
            border-bottom-left-radius: .5rem;
        }

        &:last-child {
            border-top-right-radius: .5rem;
            border-bottom-right-radius: .5rem;
        }

        &:disabled {
            background-image: linear-gradient(to bottom right, $backgroundLighterPurple, $backgroundDarkPurple);
            font-weight: 700;
        }

        &:hover {
            background-color: $purpleLight;
        }
    }

    /* ==============================
        Choose/Show Category Filters
    =================================*/
    &__category-filters {
        text-align: center;
        font-size: 1.4rem;
        border-radius: .5rem;
        overflow: hidden; //zeby border-radius rowniez dzialal w category-item
        margin: 0rem .2rem 2rem .2rem;
        padding-top: .2rem;
        padding-bottom: .4rem;
        background-color: $backgroundSecondary;
    }

    &__category-title {
        cursor: pointer;
        width: 100%;
        background-color: inherit;
        color: white;
        border: 0;
        font-size: inherit;
        font-family: inherit;

        &--active {
            font-weight: 700;

            &::after {
                content: '\f0d8';
                font-weight: 900;
                font-family: 'Font Awesome 5 Free';
                position: relative;
                left: 5%;
            }
        }

        &--inActive {
            &::after {
                content: '\f0d7';
                font-weight: 900;
                font-family: 'Font Awesome 5 Free';
                position: relative;
                left: 5%;
            }
        }
    }

    &__category-list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        padding-top: .5rem;
        margin-bottom: -.4rem;
        border-radius: .5rem;
    }

    &__category-item {
        flex: 1 1 auto;
        padding-top: .5rem;
        padding-bottom: .5rem;
        border-top: .1rem solid $standardGrey;
        cursor: pointer;
        font-size: 1.2rem;

        @media only screen and (min-width: $bp-medium) {
            font-size: 1.4rem;
        }

        &:hover {
            background-color: $purpleLight;
            font-weight: 700;
        }
    }
}

/* ==============================
Choose/Show Category Filters
=================================*/
.active {
    font-weight: 700;
    background-image: linear-gradient(to bottom right, $backgroundLighterPurple, $backgroundDarkPurple);
    border-bottom: .2rem solid $purpleLight;
}