@import '../style/App.scss';

.footer {
    width: 100%;
    margin-top: auto;
}

.create-newTask {

    &__button {
        font-weight: 700;
        cursor: pointer;
        @include transitionStandard();
        color: white;
        background-color: $greenDark;
        border: 0;
        border-radius: 10rem;
        position: relative;
        width: 5.5rem;
        height: 5.5rem;
        left: 80%;
        top: .2rem;
        z-index: 1;

        @media only screen and (min-width: $bp-medium) {
            top: 0rem;
            left: 50%;
            transform: translateX(-45.5%);
            margin: 0 $sharedValueOne;
            margin: auto;
            width: $widthConstOne;
        }

        &:hover {
            background-color: $orangeDark;
        }

        &--plusIcon {
            font-size: 4rem;
        }
    }
}