@mixin transitionStandard {
    transition: background-color .5s ease-in-out;
}

@mixin backgroundImageStandard {
    background-image: linear-gradient(to bottom right, $backgroundPrimary, $backgroundSecondary);
}

@mixin headingAddEditSettings {
    font-size: 1.2rem;
    padding: 1rem 0 1rem 0;

    @media only screen and (min-width: $bp-medium) {
        font-size: 1.4rem;
    }
}

@mixin inputAddEditSettings {
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    border: 0;
    background-image: linear-gradient(to bottom right, $backgroundLighterPurple, $backgroundDarkPurple);
    color: white;
    font-family: inherit;
    font-size: 1.3rem;

    @media only screen and (min-width: $bp-medium) {
        font-size: 1.4rem;
    }
}

@mixin buttonAddEditCategorySettings {
    width: 10rem;
    padding: 1rem;
    margin: .5rem;
    border: .1rem solid gray;
    background-color: rgba(161, 148, 148, 0.103);
    border-radius: .5rem;
    color: white;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.15rem;
    @include transitionStandard();

    @media only screen and (min-width: $bp-medium) {
        font-size: 1.4rem;
    }

    &:hover {
        background-color: $orangeDark;
        border: 0;
    }
}

@mixin submitFinishAddEditSettings {
    width: 100%;
    border: 0;
    padding: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    color: white;
    font-family: inherit;
    font-size: 1.3rem;
    @include transitionStandard();

    @media only screen and (min-width: $bp-medium) {
        font-size: 1.5rem;
    }
}

@mixin activeCategory {
    background-color: $orangeDark;
    font-weight: 700;
    border: 0;
}