@import '../style/App.scss';

.editTaskContainer {
    height: 90vh;
    //margin-bottom: -2rem; //zalezne ss
}

.editTask {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 100%;

    /* ====================================
         EditTask Heading
    ======================================*/
    &__heading {
        @include headingAddEditSettings();
    }

    /* ====================================
         EditTask Inputs/Textarea
    ======================================*/
    &__input {
        @include inputAddEditSettings();
        margin: auto 0;
    }

    /* =======================================
         EditTask categories to choose buttons
    ==========================================*/

    &__categoriesButtons {
        display: flex;
        justify-content: center;

        margin-bottom: 2rem;
        margin: auto 0;

        :first-child {
            margin-left: 0;
        }

        :last-child {
            margin-right: 0;
        }
    }

    &__categoryButton {
        @include buttonAddEditCategorySettings();

        &--active {
            @include activeCategory();
        }
    }

    &__save {
        @include submitFinishAddEditSettings();
        background-color: $greenDark;
        max-width: 4*10rem+3rem; //zeby byla dlugosc taka sama jak w sumie dlugosc buttonow, kazdy button ma miec max 10rem + 1rem paddingu i .5rem marginu (margin .5*4, czyli 2 bedze), podsumowujac 4*10rem+1rem+2rem
        //margin: 0 auto;
        margin: auto 0;
        display: grid;
        align-self: center;

        &:hover {
            background-color: orange;
        }
    }
}