.tasks {
    font-size: 1.4rem;

    &__list {
        padding: 1rem 0 1rem 2rem;
        /* =====================
        scrolling inside tasks list (dla mobilnej, dla większej rozdzielczości jeszcze zobaczyć */
        height: 70vh;
        overflow: auto;
        /*         scrollbar-color: black gray; //kolor scrollbaru
        scrollbar-width: thin; */

        /* ======================= */

        /*         :last-child {
            padding-bottom: 0
        } */
    }

    &__itemContainer {
        position: relative; //do circle potrzebne
        padding-left: 3rem;
        padding-top: 2rem;
        padding-bottom: 3rem;
        border-left: .1rem solid red;
    }
}